<%layout('layouts/boilerplate')%>
<h1 class="text-center">Register</h1>
<form action="/register" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label class="form-label" for="firstName">FirstName</label>
        <input class="form-control" type="text" id="firstName" name="firstName" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            required!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="lastName">LastName</label>
        <input class="form-control" type="lastName" id="lastName" name="lastName" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            required!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control" type="email" id="email" name="email" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            required!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="phoneNumber">PhoneNumber</label>
        <input class="form-control" type="phoneNumber" id="phoneNumber" name="phoneNumber" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            required!
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
        <div class="invalid-feedback">
            required!
        </div>
    </div>
     <button class="btn btn-success col-3 offset-4 mt-3 text-center">Sign In</button>
   
   
</form>